<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="./JS/angular.min.js"></script>
 <script src="./JS/index.js"></script>
    <title>DropDownMenu by Xavi</title>
</head>
<body ng-controller="DropController" ng-app="DropApp">
    <div class="container"> 
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%" ng-click="toggled" ng-bind='selected'>{{selected}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu" style="width: 100%">
            <li ng-repeat="item in items">
              <a align="center" ng-click="setTutorial(item)" tabindex="-1" href="#">{{item}}</a>
            </li>
          </ul>
        </div>
    </div>
    <p></p>
<script type="text/javascript">
</script>
</body>
</html>


